nav {
  background: #090e19;
  width: 100%;
  padding: 1.5em;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  text-decoration: underline;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border-top: 1px solid #000;
}

.post > *:not(img) {
  max-width: 60vw;
  margin: 0 auto;
}

.title {
  font-family: "Raleway", sans-serif;
  padding-bottom: 1em;
  text-align: center;
}

.title > h2 {
  font-family: "Calistoga", cursive;
  font-size: 3em;
}

.title > h5 {
  font-size: 1em;
}

.post > h3 {
  text-align: right;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1em;
}

.post > p {
  padding-bottom: 3em;
  font-family: palatino;
  line-height: 1.6;
  text-indent: 2em;
}

.post > p + img {
  padding-top: 1em;
}

.post > img {
  width: 100%;
  max-height: 70vh;
  padding: 1em 8vw;
  object-fit: contain;
}

.post > h4 {
  padding-bottom: 3em;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .post > *:not(img) {
    max-width: 84vw;
  }
}
