body {
  background: #090e19;
  color: #fff;
}

.screen {
  overflow: hidden;
}

.hide-dev {
  display: none !important;
}

.container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: none;
}

.landing {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 60%;
}

.button-container > button {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  color: #ffc600;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
  border-radius: 4px;
}

/* .button-container > button::before {
  mix-blend-mode: overlay;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.1em solid #fff;
  border-radius: 4px;
} */

button + button {
  margin-top: 1em;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scale(1.3) translate3d(5%, 3%, 0);
  display: none;
  opacity: 0;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bkg1 img {
  object-position: 25% 30%;
}

.bkg2 img {
  object-position: 80% 30%;
}

.bkg3 img {
  object-position: 90% 30%;
}

.pan1 {
  animation: pan1 11s linear;
}
.pan2 {
  animation: pan2 11s linear;
}
.pan3 {
  animation: pan3 11s linear;
}

.visible {
  display: block;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s linear;
}

.fadeOut {
  opacity: 0;
  transition: opacity 2s linear;
}

.sessions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 10em;

  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

  display: flex;
  align-items: flex-end;

  padding-bottom: 2.5em;
}

.footer::after {
  content: "";
  position: absolute;
  display: none;
  bottom: -10em;
  height: 10em;
  width: 100%;
  background: red;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pages > li {
  padding: 0.5em;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
}

.pages > li > a {
  padding: 0.5em;
  display: inline-block;
}

.credit {
  flex: 6;
  color: #ffffff55;
  padding: 0 2.5em;
  font-size: 0.7em;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.octicon {
  display: inline-block;
  line-height: 0;
  padding-left: 1em;
  fill: #ffffff55;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1em;
  width: 300%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 33.4%,
    rgba(255, 255, 255, 0) 33.4%,
    rgba(255, 255, 255, 0) 66.6%,
    rgba(255, 255, 255, 1) 66.6%,
    rgba(255, 255, 255, 1) 100%
  );
  transform: translate3d(-66.667%, 0, 0);
  animation: 4.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite slide;
}

@keyframes slide {
  0% {
    transform: translate3d(-66.667%, 0, 0);
  }

  50% {
    transform: translate3d(0%, 0, 0);
  }

  100% {
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes pan1 {
  from {
    transform: scale(1.2) translate3d(0, 0, 0);
  }

  to {
    transform: scale(1.3) translate3d(5%, 3%, 0);
  }
}
@keyframes pan2 {
  from {
    transform: scale(1.2) translate3d(0, 0, 0);
  }

  to {
    transform: scale(1.3) translate3d(-2%, 4%, 0);
  }
}
@keyframes pan3 {
  from {
    transform: scale(1.2) translate3d(0, 0, 0);
  }

  to {
    transform: scale(1.3) translate3d(-5%, 3%, 0);
  }
}

/* PHONE CORRECT VIEWPORT SIZING. ADD RESIZE LISTENER */
/* width: calc(var(--vw, 1vw) * 100); */
/* height: calc(var(--vh, 1vh) * 100); */

/* 
  .container-team {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .member {
    position: relative;
    font-size: 4em;
    line-height: 0.9em;
    height: 70vh;
    width: 30vw;
    display: flex;
    justify-content: center;
}

.right-align {
  text-align: right;
  right: 0;
}

.name {
  position: absolute;
  margin: -0.3em;
  box-shadow: black;
}

.portrait {
  height: 100%;
  position: absolute;
  top: 0;
}

.headshot {
  border-radius: 0.3em;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #fff;
  /* mask-image: url(#my-svg-mask);
} */

/* FLOATING HELIX LINES */
/* .container {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.orange-line,
.yellow-line {
  position: absolute;
  background-repeat: repeat-y;
  background-size: 50%;
  height: 1644px;
  opacity: 0.5;
}

.orange-line {
  background-image: url("./orange-thin.png");
  width: 39px;
  left: calc(50% - 20px);
  animation: up 16s linear infinite;
}

.yellow-line {
  background-image: url("./yellow-thick.png");
  width: 53px;
  left: calc(50% - 27px);
  animation: up 8s linear infinite reverse;
}

@keyframes up {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -50%, 0);
  }
} */

/* PAN BACKGROUND */
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 30rem;
  height: 60rem;
  background: #234;
  border: 1px solid #fff;
  overflow: hidden;
}

.image {
  width: 120%;
  height: 120%;
  background-image: url("./core-photo/Rec1_0012.jpg");
  background-size: cover;
  transform: scale(1.2);
  transition: all 1s linear;
}

.image:hover {
  transform: scale(1.2) translate3d(-10%, 2%, 0);
} 
*/
/* END PAN BACKGROUND */
